<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568842008318-lh3cn11mc2jqem385iifbikfh6vshbft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568842008318-lh3cn11mc2jqem385iifbikfh6vshbft</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>568842008318-13l4ngh1apb02rim3fsaq821o07j23qn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBENCAot_BGPUsmeGDD8RfMBEeaeJiXPTI</string>
	<key>GCM_SENDER_ID</key>
	<string>568842008318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newHumanResource</string>
	<key>PROJECT_ID</key>
	<string>humanresources-a285c</string>
	<key>STORAGE_BUCKET</key>
	<string>humanresources-a285c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568842008318:ios:610c08061f81d5a230d7af</string>
</dict>
</plist>